<section>
    <div class="container-fluid  mt-5 bg-light d-flex  ">
        <div class="row text-center justify-content-center p-5 ">
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Testimonials</h1>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut
                laboreetdolore magna aliqua.</p>
            <div class="coustmore">
                <img src="/assets/image/coustmer img.jpg" style="border-radius: 50%; width: 100px; height: 100px;">
               
            </div>
             <p class="text-secondary col-lg-8 mt-5 ">I'm always impresswd with the service. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Quibusdam sequi nam sit architecto atque vitae hic aspernatur rerum eius saepe cumque sed quod
                    impedit fuga, dolores modi laudantium porro amet.</p>
                    <h6 class="text-secondary">Sandra coustmer</h6>
        </div>
      
    </div>



</section>