<footer>
    <div class="container-fluid bg-dark  ">
        <div class="row w-100 justify-content-end ">
            <div class="col-lg-4">
                <p class="text-light">@ Copyright 2020 - Jess by Designesia</p>
            </div>

            <div class="col-4">
                <div class="foot-icon d-flex ms-5 ">
                    <i class="fa-brands  pe-4 fa-facebook-f text-light"></i>
                    <i class="fa-brands  pe-4 fa-twitter  text-light"></i>
                    <i class="fa-brands  pe-4 fa-linkedin  text-light"></i>
                    <i class="fa-brands  pe-4 fa-google text-light"></i>
                    <i class="fa-brands  pe-4 fa-instagram  text-light"></i>
                    <i class="fa-regular pe-4 fa-up  text-light"></i>
                </div>
            </div>
        </div>
    </div>
</footer>