<section>
<div class="container mt-5">
    <div class="row text-center">     
            <h1 style="font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Contact Us</h1>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor
                incididunt ut labore et
                dolore magna aliqua.</p>
    </div>
    <form>
        <div class="container d-flex bg-light ">
            <div class="row col-6 ">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    <input type="email" placeholder="Your name" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"></label>
                    <input type="password" placeholder="Your email" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"></label>
                    <input type="password" placeholder="Your phone" class="form-control" id="exampleInputPassword1">
                </div>
            </div>
            <div class="row col-6 ms-3 mt-2">
                <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-dark mt-5 col-2  ">Submit</button>
    </form>
</div>



<div class="container  mt-5 p-5">
    <div class="row text-center">
        <div class="col-lg-4">
            <i class="fa-solid fa-mobile-screen fa-3x text-success"></i>
            <h6 class="id-color">Call Us</h6>
            <p class="text-secondary">(208) 333 9296</p>
        </div>

        <div class="col-lg-4">
            <i class="fa-solid fa-house fa-3x text-success"></i>
            <h6 class="id-color">Visit Office</h6>
            <p class="text-secondary">(208) 333 9296</p>
        </div>

        <div class="col-lg-4">
            <i class="fa-solid fa-envelope fa-3x text-success"></i>
            <h6 class="id-color">Email Us</h6>
            <p class="text-secondary">(208) 333 9296</p>
        </div>
    </div>


</div>
</section>