<section>
    <div class="container  mt-5 d-flex bg-light  ">
        <div class="row  text-center justify-content-center  ">
            <div class="headline">
                <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Our Blog</h1>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor
                    incididunt ut labore et
                    dolore magna aliqua.</p>
            </div>
            <div class="card" style="width: 18rem;  ">
                <img src="/assets/image/card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Importance Of Web Design</h6>
                    <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk
                        of
                        the
                        card's content.</p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/assets/image/card2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Better User Interface</h6>
                    <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk
                        of
                        the
                        card's content.</p>
                    
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="/assets/image/card3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title">Experts Web Design Tips</h6>
                    <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk
                        of
                        the
                        card's content.</p>
                   
                </div>
            </div>
        </div>

    </div>


</section>