<section>
    <div class="container mt-5 bg-light ">
        <div class="row  text-center">
            <div class="col ">
                <h5>Portfolio</h5>
                <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">I Love What I Do
                </h2>
                <div class="tab_box_info mt-4   ">
                    <ul class="nav nav-pills mb-3 light" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="project-tab" data-toggle="pill" href="" role="tab"
                                aria-controls="project" aria-selected="true">project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="illustration-tab" data-toggle="pill" href="" role="tab"
                                aria-controls="illustration" aria-selected="false">illustration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mobile-tab" data-toggle="pill" href="" role="tab"
                                aria-controls="mobile" aria-selected="false">mobile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="photography-tab" data-toggle="pill" href="" role="tab"
                                aria-controls="photography" aria-selected="false">photography</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="website-tab" data-toggle="pill" href="" role="tab"
                                aria-controls="website" aria-selected="false">website</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="row justify-content-center">


            <div class="col-lg-3">
                <img src="/assets/image/gr1.jpg " style="width: 350px; height: 250px;" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/image/gr2.jpg" style="width: 350px; height: 250px;" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/image/gr3.jpg" style="width: 350px; height: 250px;" alt="">
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-3">
                <img src="/assets/image/gr4.jpg" style="width: 350px; height: 250px;" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/image/gr5.jpg" style="width: 350px; height: 250px;" alt="">
            </div>
            <div class="col-lg-3">
                <img src="/assets/image/gr6.jpg" style="width: 350px; height: 250px;" alt="">
            </div>

        </div>

    </div>

</section>