<div class="container-fluid text-center mt-5 ">
    <h1><b>Our Services</b> </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
        tempor incididunt ut labore et dolore
        magna aliqua.</p>


    <div class="row justify-content-center  mt-5">
        <div class="col-lg-3">
            <div class="d-flex">
                <div><i class="fa fa-laptop id-color fa-3x text-success"></i></div>
                <div>
                    <h4> Website Design</h4>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex">
                <div><i class="fa fa-paper-plane-o id-color  fa-3x text-success"></i></div>
                <div>
                    <h4> Email Marketing</h4>
                    <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex">
                <div><i class="fa fa-line-chart id-color  fa-3x text-success"></i></div>
                <div>
                    <div>
                        <h4> Digital Analytics</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-3">
                <div class="d-flex">
                    <div><i class="fa fa-object-group id-color  fa-3x text-success"></i></div>
                    <div>
                        <h4>Visual Editor</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div><i class="fa fa-hdd-o id-color  fa-3x text-success"></i></div>
                    <div>
                        <h4> Backup & Security</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="d-flex">
                    <div><i class="fa fa-comments-o id-color  fa-3x text-success"></i></div>
                    <div>
                        <div>
                            <h4>IT Consultancy</h4>
                            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>

      